.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 10%;
  bottom: 10%;
  margin: auto;
  background: white;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .booksHere {
    width: 100%;
  }

  h1 {
    margin: 0 auto 5% auto;
    font-size: 1.8em;
  }

  label {
    margin-right: 20px;
  }

  input {
    width: 60%;
    &::placeholder {
      font-style: italic;
    }
  }

  .searchList {
    width: 100%;
    height: 100%;
    border: 1px solid red;
    overflow-y: scroll;

    .book {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-bottom: 20px;

      .cover {
        width: 40vw;
        height: auto;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        flex-basis: 25%;
      }

      .allInfo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-basis: 75%;

        .mainInfo {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 5px 10px;

          .title {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            text-align: left;
            width: 60%;

            h2.titleName {
              font-size: 1.9em;
            }

            h2.author {
              font-size: 1.2em;
            }
          }

          h3 {
            font-size: 1.2em;
          }
        }
      }
    }
  }

  button {
    margin-top: 10px;
  }
}
